.examples {
  @include font(14px, 400, 1.1, 0.03em);

  &__label {
    @extend .examples;
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($colors, 'primary');
  }

  &__icon {
    background-color: map-get($colors, 'team');
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: $borderRadius;
  }

  &__content {
    @extend .examples;
    margin: 10px 0 96px;
    line-height: 1.7;
    color: map-get($colors, 'contact');
  }
}
