.logo {
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 1.2, 0.03em);
  color: map-get($colors, 'dark');
  text-decoration: none;
  margin-right: 93px;

  &--white {
    color: map-get($colors, 'light');
  }

  &__blue {
    color: map-get($colors, 'link');
  }
}
