.logo {
  font-family: 'Raleway', sans-serif;
  @include font(24px, 700, 1.17, 0.03em);
  color: map-get($colors, 'dark');
  text-decoration: none;

  &--color {
    color: map-get($colors, 'light');
  }

  &__highlight {
    color: map-get($colors, 'link');
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .logo {
    @include font(26px, false, 1.19);
  }
}
