.newsletter {
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $borderRadius;
    background-color: transparent;
    outline: none;
    padding: 15px 16px;
    width: calc(100vw - 30px);
    max-width: 450px;
    @include font(16px, 400, 1.25, 0.03em);
    color: map-get($colors, 'footerContact');
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .newsletter {
    margin-top: 12px;

    &__form {
      flex-direction: row;
      gap: 12px;
    }

    &__input {
      max-width: 358px;
    }
  }
}
