.social {
  margin-bottom: 60px;

  &__link {
    display: inline-flex;
    padding: 12px;
  }

  &__icons {
    display: flex;
    gap: 10px;
  }

  &__title {
    margin-bottom: 20px;
    color: map-get($colors, 'light');
    @include font(14px, 700, 1.1, 0.03em);
    text-transform: uppercase;
  }

  &__link {
    fill: map-get($colors, 'light');
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: map-get($colors, 'link');
      transition: background-color 250ms $transitionTimingFunction;
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .social {
    margin-top: 12px;
    margin-right: 78px;
  }
}
